* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffefef;
}

h1.header__title {
    text-align: center;
    font-size: 3rem;
    color: #4be41d;
    background: linear-gradient(-155deg, #00012b,#000281);
    padding-block: 50px;
}

/* Добавляем стили для контейнеров с примерами */

div[class^="main__example"] {
    display: flex;
    flex-direction: column;
    gap: 50px;

    max-width: 750px;
    margin-inline: auto;
    padding: 30px;

    margin-block: 35px 25px;

    background-color: #fff;
    box-shadow: 5px 5px 8px #888888;

    p {
        padding-left: 25px;
    }
}

/* Задаем красивые стили для основного заголовка */

.main__example-header {
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #79a8ff;
}

/* Выше заданы основные стили страницы */

/* Псевдоэлемент "before" добавляет контент прямо перед контентом выбранного элемента.
При этом добавленный контент становится первым дочерним элементом внутри элемента.
В качестве контента может быть не только текст */
/* Ниже пример контента который имеет строчный тип. Это так по умолчанию */
.main__example-1__before-1::before {
    content: "Конфуций:";
    color: #740000;
    font-size: 0.8rem;
    font-weight: bolder;
    margin-right: 10px;
    /* Псевдоэлементу можно давать разные свойства, как обычным элементам документа */
}

/* ниже пример схожий с первым но с другими цветами */
.main__example-1__before-2::before {
    content: "Сократ:";
    color: #0014c5;
    font-size: 1.3rem;
    font-weight: bolder;
    margin-right: 8px;
    background-color: #e9ff23;
}

/* А этот пример показывает что мы можем сделать псевдоэлемент блочным.
Так как он блочный он займет всю ширину родительского элемента и будет выше остальных
по расположению*/
.main__example-1__before-3::before {
    content: "Однажды Лао-дзы сказал:";
    display: block;
    color: #107707;
    font-size: 0.7rem;
    font-weight: bold;
    border: 1px solid #646464;
    padding: 5px;
    width: 200px;
    text-align: center;
    margin-inline: auto; /* Центрируем псевдоэлемент */
}

/* Задаем отступ для заголовков из второго задания */
*[class^="main__example-2__after"] {
    padding-left: 25px;
}

/* Псевдоэлемент "after" добавляет контент после контента выбранного элемента.
То есть псевдоэлемент становиться последним дочерним элементом.
 */
/* Добавляем смайлики после текста */
.main__example-2__after-1::after {
    content: "🤖💕";
    font-size: 2rem;
    margin-left: 5px;
}

/* Ниже пример добавления символов Юникода.
добавляем стилизованные двойные круглые ковычки*/
.main__example-2__after-2::after {
    content: '\201d'; 
    color: #107707; 
    font-size: 2em;
    margin-left: 5px;
}

/* Добавляем flex свойства, чтобы поднять псевдоэлемент выше */
.main__example-2__after-3 {
    display: flex;
    align-items: start;
}

/* Ниже пример добавления символа тороговой марки ®  */ 
.main__example-2__after-3::after {
    content: '®';  
    font-size: 0.7em;
    margin-left: 3px;
}

/* Добавляем символ из таблицы символов Windows */
.main__example-2__after-4::after {
    content: '♣';  /* Это карточный треф */
    font-size: 1.3em;
    color: #f41dfc;
    margin-left: 5px;
}

/* из этого примера также видно что псевдоэлементы тоже 
подчиняются flex свойствам */

/* Задаем стили для контейнеров из третьего задания */
div[class^="main__example-3__effects"] {
    width: 400px;
    height: 220px;
    border: 1px solid #a0a0a0;
    margin-inline: auto;
    
    p.main__example-3__effects__text {
        text-align: center;
        padding-left: 0;
        line-height: 60px;

        /* Меняем цвет первой буквы */
        &::first-letter {
            color: #fd0000;
        }
    }
}

/* Добавляем круг с буквой, который распологаем на границе контейнера.
Этот эффект можно использовать также для добавления картинок со смещением */
.main__example-3__effects-1::before {
    content: 'A';
    display: block;
    width: 60px;
    height: 60px;
    background-color: #ffcdcd;
    margin-left: -60px;
    margin-top: 15px;
    border-radius: 50%;
    text-align: center;
    font-size: 3rem;
}

/* Добавляем жирные стилизованные линии над и под текстом */
.main__example-3__effects-2 > .main__example-3__effects__text::before,
.main__example-3__effects-2 > .main__example-3__effects__text::after {
    content: ' ';
    display: block;
    width: 300px;
    height: 10px;
    background: linear-gradient(90deg, #b543f7,#46006e);
    opacity: 0.6;
    border-radius: 5px;
    margin-inline: auto;
    margin-block: 10px;
}

/* Создаем всплывающую подсказку */

/* Задаем начальные условия. Подсказка прозрачная изначально */
.main__example-3__effects-3::before {
    content: 'Это подсказка!';
    display: block;
    width: 300px;
    background-color: transparent;
    opacity: 0.0;
    border-radius: 5px;
    margin-inline: auto;
    margin-top: -60px;
    padding: 15px;
    transition: all 0.5s; /* Добавляем плавный переход */

    color: #fff; 
    text-align: center;  
}

/* При наведении на контейнер подсказка перестает быть прозрачной */
.main__example-3__effects-3:hover::before {
    content: 'Это подсказка!';
    display: block;
    width: 300px;
    background-color: #575757;
    opacity: 0.6;
    border-radius: 5px;
    margin-inline: auto;
    margin-top: -60px;
    padding: 15px;

    color: #fff;
    text-align: center;
}

/* Добавляем дополнительный родительский контейнер чтобы контейнер
с примером не перемещался при использовании абсолютного и относительного
позиционирования. */
.layer  {
    width: 402px;
    height: 222px;
    margin-inline: auto;
}

/* Задаем относительное позиционирование для контейнера с примером, чтобы
псевдоэлемент можно было перемещать через свойства "top" и "left" */
.main__example-3__effects-4 {
    position: relative;
}

/* Создаем стилизованный угол ввиде красной закругленной линии в
верхнем левом углу контейнера */
.main__example-3__effects-4::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-top: 3px solid rgb(224, 0, 0);
    border-left: 3px solid rgb(224, 0, 0);
    border-top-left-radius: 8px;

    position: absolute;
    top: 5px;
    left: 5px;
}

.footer {
    width: 500px;
    padding: 30px;
    margin-inline: auto;

    .footer__link {
        text-decoration: none;
        color: #7c7c7c;
        width: 200px;
        display: block;
        margin-inline: auto;
        text-align: center;
        border: 1px solid #cfcfcf;
        padding: 15px;
        border-radius: 30px;
        box-shadow: inset 5px 5px 10px #e9e9e9;
        background-color: #ffffff;
    }
}