

/* Два шрифта ниже загружены в папку "fonts" и хранятся локально*/

@font-face {
    font-family: "Good Vibes";
    src: url(./fonts/GoodVibes/GoodVibesCyr.ttf);
}

@font-face {
    font-family: "Rubic 80s Fade";
    src: url(./fonts/Rubic80sFade/Rubik80sFade-Regular.ttf);
}

/* Два шрифта ниже ссылаются на внешний источник "Google fonts". Это ссылка расположена 
внутри CSS файла. */

@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap');


body {
    background-color: #e4e4e4;
}
 
.header__title {
    font-family: "Good Vibes", cursive;
    font-variant: normal;
    font-size: 40px;
    text-align: center;
}

.main__container-1 , 
.main__container-2 {
    width: 500px;
    padding: 30px;
    margin-inline: auto;
    background-color: #f5f5f5;
    
    margin-bottom: 50px;
}

.main__container-1:hover , 
.main__container-2:hover {
    box-shadow: -3px -3px 8px 4px #ffffff, 5px 5px 10px 3px #e4e3e3;
}

.main__container-1 {

    .main__container-1__title {
        font-family: "Rubic 80s Fade";
        font-weight: normal;
        color: #63e726;
    }

    p.main__container-1__lorem {
        font-family: Radley;
        font-weight: normal;
    }

    p.main__container-1__numbers {
        font-family: Honk;
        font-weight: normal;
        font-size: 30px;
    }

    p.main__container-1__lorem-2 {
        font-family: Nosifer;
    }
    
}

.main__container-2 {

    .main__container-2__title {
        font-family: Lobster, Arial, Helvetica, sans-serif;
        /* Здесь шрифт "Lobster" не сработал, так как его вообще не 
        загрузили и не дали никакой ссылки на него. Соответственно
        сработал стоящий вслед за ним шрифт "Arial" */

        font-weight: 700;
        color: #1a52ee;
    }

    p.main__container-2__lorem {
        font-family: RadleyA, Helvetica, sans-serif;
        /* Здесь допущена ошибка в названии шрифта, 
        поэтому будет использован шрифт идущий следом */

        font-weight: normal;
    }

    p.main__container-2__numbers {
        font-family: "Bungee Spice", Honk, Arial, serif;
        /* Здесь нету ошибок в написании и ссылка на шрифт "Bungee Spice"  
        находиться в html документе*/

        font-weight: normal;
        font-size: 30px;
    }

    p.main__container-2__lorem-2 {
        font-family: Nosifer, Georgian, Times, 'Times New Roman', serif;
        /* Здесь допущена ошибка в названии шрифта Georgia.
        Если шрифт Nosifer не сработает, то сработает шрифт Times */
    }
    
}

.footer {
    width: 500px;
    padding: 30px;
    margin-inline: auto;

    .footer__link {
        text-decoration: none;
        color: #7c7c7c;
        width: 200px;
        display: block;
        margin-inline: auto;
        text-align: center;
        border: 1px solid #cfcfcf;
        padding: 15px;
        border-radius: 30px;
        box-shadow: inset 5px 5px 10px #ffffff;
        background-color: #e7e7e7;
    }
}